<div class="w3-orange w3-text-white w3-jumbo user_font_weight">
	<span>This is fun time....!!!</span>
	<div>
		<div ng-controller="AppCtrl" class="md-padding" id="popupContainer" ng-cloak>
			<div class="dialog-demo-content" layout="row" layout-wrap layout-margin 	layout-align="center">
		    	<md-button class="md-primary md-raised" ng-click="showAlert($event)">
		      	Alert Dialog
		    	</md-button>
		   </div>
	    </div>
	</div>
</div>
