<div>
    <div class="w3-display-container w3-text-orange">
		<img src="assets/gif1.gif" class="w3-opacity container_img"/>
		<div class="index_text w3-display-middle w3-xxlarge user_font_weight">Stay Tunned</div>
		<div class="index_banner_text w3-display-topleft w3-large user_font_weight">Meet Point!</div>
		<div class="w3-button index_button w3-display-topright w3-round-large w3-border-yellow w3-medium w3-hover-yellow w3-hover-text-white w3-large user_font_weight">
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		</div>
		<div class="w3-padding-large w3-wide w3-orange w3-circle w3-display-topmiddle w3-text-white">
		  <a href="/aboutus/index" class="w3-text-white" id="text-decoration"><h1 class="user_font_weight">About Us!</h1></a>
		</div>
		<div class="w3-padding-large w3-orange w3-circle w3-display-bottomleft w3-text-white">
		  <a href="/timing/new" class="w3-text-white" id="text-decoration"><h1 class="user_font_weight">Meet Time</h1></a>
		</div>
		<div class="w3-padding-large w3-orange w3-circle w3-display-bottomright w3-text-white">
		  <a href="/funson/fun" class="w3-text-white" id="text-decoration"><h1 class="user_font_weight">Funs On</h1></a>
		</div>
	</div>
</div>