<div class="w3-orange w3-display-container">
	<div class="w3-margin-bottom">
		<div class="w3-display-topright w3-text-white w3-jumbo user_font_weight">
		 About us!
		</div>
	</div>
	<div class="row w3-margin-top w3-margin-bottom">
		<div class="col-md-2 col-md-offset-1 hoverimg"><img src="/assets/manager.jpg" class="w3-circle about_img" onclick="document.getElementById('modal01').style.display='block'"/></div>
		<div class="col-md-2 col-md-offset-1"><img src="/assets/manager.jpg" class="w3-circle about_img"/></div>
	</div>
	<div class="row w3-margin-top w3-margin-bottom">
		<div class="col-md-2 col-md-offset-1"><img src="/assets/manager.jpg" class="w3-circle about_img"/></div>
		<div class="col-md-2 col-md-offset-1"><img src="/assets/manager.jpg" class="w3-circle about_img"/></div>
	</div>
	<div class="row w3-margin-top w3-margin-bottom">
		<div class="col-md-2 col-md-offset-1"><img src="/assets/manager.jpg" class="w3-circle about_img"/></div>
		<div class="col-md-2 col-md-offset-1"><img src="/assets/manager.jpg" class="w3-circle about_img"/></div>
	</div>
	<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    	<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    	<div class="w3-modal-content w3-animate-zoom">
      <div class="row">
      	<div class="col-md-3">
      		<img src="/assets/manager.jpg" class="w3-circle about_img w3-padding"/>
      	</div>
      	<div class="col-md-2">
      		Name:
      	</div>
      	<div class="col-md-7">
      		Bhuvana Malini
      	</div>
      	<div class="col-md-2">
      		Position:
      	</div>
      	<div class="col-md-7">
      		Product Engineer Trainee
      	</div>
      	<div class="col-md-2">
      		About:
      	</div>
      	<div class="col-md-7">
      		A wiki is run using wiki software, otherwise known as a wiki engine. A wiki engine is a type of content management system, but it differs from most other such systems, including blog software, in that the content is created without any defined owner or leader, and wikis have little implicit structure, allowing structure to emerge according to the needs of the users.
      	</div>
      </div>
    	</div>
  	</div>
</div>
